<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.dao.UserMapper">
    <insert id="add" parameterType="User">
        insert into springmvc_mybatis.sys_user (username, password, nickname) VALUES
        (#{username}, #{password}, #{nickname})
    </insert>
    <update id="update" parameterType="User">
        update springmvc_mybatis.sys_user set username = #{username}, nickname = #{nickname}
        where id = #{id}
    </update>
    <delete id="delete" parameterType="int">
        delete from springmvc_mybatis.sys_user where id = #{id}
    </delete>
    <select id="findById" resultType="User">
        select * from springmvc_mybatis.sys_user where id = #{id}
    </select>
    <select id="findAll" resultType="User">
        select * from springmvc_mybatis.sys_user
    </select>
</mapper>